
<br/>
<h1>Customer</h1>
<label>Frist Name : <input [(ngModel)]="firstname">
{{firstname}}
</label><br><br>
<label>Last Name : <input [(ngModel)]="lastname"></label>
{{lastname}}
<br><br>
<label>Birth Date : <input [(ngModel)]="birthdate"></label>
{{birthdate}}
<br><br>
<label>Username : <input [(ngModel)]="username"></label>
{{username}}
<br><br>
<label>Password : <input [(ngModel)]="password"></label>
{{password}}
<br><br>
<label>Phone Number: <input [(ngModel)]="phonenumber"></label>
{{phonenumber}}
<br><br>
<label>Phone Type : <input [(ngModel)]="phonetype"></label>
{{phonetype}}
<br><br>
<button (click)="customerAlert()">Alert</button>
<button (click)="ok()">Ok</button>
<br><br>
